@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-neutral text-zinc-800 dark:bg-neutral-dark dark:text-zinc-100;
}

.default-focus {
    @apply focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-primary-emphasis dark:focus:outline-primary;
}

/* Hide the number input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
